{% extends 'cafe/base.html' %}
{% load static %}

{% block title %}Игра - ПальмаТур{% endblock %}

{% block content %}
<div class="max-w-7xl mx-auto px-4 py-10 text-center">
    <h1 class="text-4xl font-black mb-6 uppercase italic">Наше приключение</h1>
    
   <!-- Контейнер для игры -->
<div class="flex justify-center items-center">
    <div class="relative w-full max-w-[600px] bg-[#232323] rounded-[2.5rem] overflow-hidden shadow-2xl border-[12px] border-slate-800 shadow-blue-500/10">
   <iframe 
            src="/cafe/static/unity/index.html" 
            class="w-full h-[900px] border-none block"
            style="overflow:hidden;"
            scrolling="no">
        </iframe>
    </div>
</div>

    <div class="mt-8">
        <a href="{% url 'main' %}" class="text-blue-600 font-bold">← Вернуться на главную</a>
    </div>
</div>
{% endblock %}